@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-sans);
  --color-border: var(--color-slate-200);
}

:root {
  --background: #f8fafc; /* slate-50 */
  --foreground: #0f172a; /* slate-900 */
}

.dark {
  --background: #020617; /* slate-950 */
  --foreground: #f8fafc; /* slate-50 */
  --color-border: var(--color-slate-800);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
